#solaceimg{
    height:100%;
    width:100%
}

#zenithimg{
    height:100%;
    width:100%
}

#veloceimg{
    height:100%;
    width:100%
}

#nexusimg{
    height:100%;
    width:100%
}

#astraimg{
    height:100%;
    width:100%
}

#cascadeimg{
    height:100%;
    width:100%
}